<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Bootstrap theme CSS -->
    {% load staticfiles %}
    <link href="{% static 'logreg/css/jumbotron-narrow.css' %}" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}
     <header>
        <div class="container">
            <div class="header clearfix">
                    <!--<nav>
                    <ul class="nav nav-pills pull-right">
                        <li role="presentation" class="active"><a href="#">Home</a></li>
                        <li role="presentation"><a href="#">About</a></li>
                        <li role="presentation"><a href="#">Contact</a></li>
                    </ul>
                    </nav>-->
                    <h3 class="text-muted">Dojo Secrets</h3>
            </div>
        </div>
    </header>
    {% endblock %}
    
    <div class="container">
        
        {% for message in messages %}
            <p class="alert alert-{{message.tags}}"> {{message}}</p>
        {% endfor %}

    
        <div class="jumbotron">
            <h1>{% block formtitle %}{% endblock %}</h1>
            <div class="form-wrapper">
                {% block form %}

                
                {% endblock %}
                
            </div>
            <p>{% block formcomment %}{% endblock %}</p>
        </div>
    </div>
</body>

</html>